<head>
  <link rel="stylesheet" href="/styles/home-page.css" />
</head>

<div class="container mt-4 p-4">
<form action="/signin" method="post">

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input 
      type="email" 
      class="form-control {{#if errors.email}}is-invalid{{/if}}" 
      id="email" 
      name="email" 
      value="{{values.email}}" 
      required>
    <div class="invalid-feedback">
      {{errors.email}}
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input 
      type="password" 
      class="form-control {{#if errors.password}}is-invalid{{/if}}" 
      id="password" 
      name="password" 
      required>
    <div class="invalid-feedback">
      {{errors.password}}
    </div>
  </div>

  <button class="btn btn-info" type="submit">Login</button>
</form>

</div>
