<header>
  <h1>The Dumb Dodo</h1>
  <p>One Goofy Adventure at a time!</p>
</header>

<main>
  <div class="container">
    <div class="row">
      {{#if currentUser}}
      <div class="col-md-4">
        <a href="/island-main" class="btn btn-info btn-lg">Check All Islands</a>
      </div>
      <div class="col-md-4">
        <a href="/creature/list" class="btn btn-info btn-lg">See Creatures</a>
      </div>
      {{else}}
      <div class="col-md-4">
        <a href="/play" class="btn btn-info btn-lg">Play Now</a>
      </div>
      {{/if}}
    </div>
  </div>



