<h1>Edit my creatures</h1>
<a href="/creature/list" class="btn btn-secondary">Add some more creatures!</a>
<ul class="list-group my-3">
  {{#each creatures as |creature|}}
   <li class="list-group-item d-flex align-items-center justify-content-between">
  <span>{{creature.commonName}}</span>
  
    <a href="/creature/remove/{{creature._id}}" class="btn btn-danger" >remove</a>
  
</li>

  {{/each}}

</ul>
