<h1>Edit my creatures</h1>
<a href="/creature/list" class="btn btn-secondary">Add some more creatures!</a>
<ul class="list-group my-3">
  {{#each creatures as |creature|}}
   <li class="list-group-item d-flex align-items-center justify-content-between">
  <span>{{creature.commonName}}</span>
  <form action="/creature/addToMyIsland/{{creature._id}}" method="POST">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>
</li>

  {{/each}}

</ul>