<div class="d-flex align-items-center justify-content-between">
  <h1 class="mb-0">Here is the island page</h1>

  <div class="w-50">
    <div class="col-md-6 offset-md-3">
      <form class="d-flex" action="/island-search" method="GET" >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="q" 
          id="search"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>

  </div>
</div>
<div class="d-flex flex-column align-items-center my-4 min-vh-40 ">
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-md-6 d-flex align-items-center">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Curabitur sed massa feugiat, euismod sem vitae,
            finibus sapien. Pellentesque nec accumsan eros, a rutrum justo.
            Curabitur id nulla lacinia erat hendrerit molestie tristique ut
            tortor. Sed rutrum metus eget purus rhoncus mattis. Donec cursus
            tincidunt augue at eleifend. </p>

        </div>
      </div>
      <div class="col-md-3 container-fluid">
        <img
          src="https://via.placeholder.com/600x400"
          class="img-fluid"
          alt="Placeholder Image"
        />
      </div>
    </div>
  </div>
  <p>

  </p>
  <div class="d-flex align-items-center justify-content-center my-4">
    {{#if myIsland}}
      <a href="/my-island" class="btn btn-primary">Check my island</a>
    {{else}}
      <a href="/island-form" class="btn btn-success">Create my island</a>
    {{/if}}
  </div>
  <div class="d-flex align-items-center flex-column  mb-3">

  <h2>Scroll down to see more</h2>
  <div class="arrow ">
    &#8595;
    <!-- Down arrow symbol -->
  </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 min-vh-100  ">
  {{#each islands as |island|}}
    <div class="col">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">{{island.name}}</h5>
          <p class="card-text">{{island.theme}}</p>
          <a href="/island-explore/{{island.id}}" class="btn btn-secondary">Check this island</a>
        </div>
      </div>
    </div>
  {{/each}}

</div>